<div class="create_an_item">
  <%= form_for :custom_customer, :url => url_for(:controller => "sales", :action => "create_custom_customer", :sale_id => @sale.id, :format => :js), :method => "get", :remote => true, :html => { :id => 'create_custom_customer' } do |f| %>
  
    <div class="form-group">
      <label>Nome</label>
      <%= f.text_field :nome, :class => "form-control", :placeholder => "Nome" %>
    </div>
    <div class="form-group">
      <label>Sobrenome</label>
      <%= f.text_field :sobrenome, :class => "form-control", :placeholder => "Sobrenome" %>
    </div>
    <div class="form-group">
      <label>Email</label>
      <%= f.text_field :email_address, :class => "form-control", :placeholder => "example@example.com" %>
    </div>
    <div class="input-group">
      <label>Telefone</label>
      <%= f.text_field :phone_number, :class => " campo_telefone form-control", :placeholder => "(99) 9999-9999" %>
    </div>
    <div class="form-group">
      <label>Endereço</label>
      <%= f.text_field :address, :class => "form-control", :placeholder => "Endereço" %>
    </div>
    <div class="form-group">
      <label>Cidade</label>
      <%= f.text_field :city, :class => "form-control", :placeholder => "Cidade" %>
    </div>
    <div class="input-group">
      <label>Estado</label>
      <%= f.select(:state, (['', 'SP','MG', 'SC']), {}, :class => 'form-control' ) %>
    </div><br>
    <div class="form-group"><%= f.submit 'Cadastrar', :class => "btn close_custom_modal" %></div>
        
  <% end %>
</div>