<%= form_tag customers_path, :method => 'get', :id => "items_search" do %>
  <p>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Procurar", :nome => nil %>
    </div>
      </div>
    </div>
  </p>
<% end %>

 <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.nome %></td>
              <td><%= customer.sobrenome %></td>
              <td><%= link_to 'Detalhes', edit_customer_path(customer) %> | <%= link_to 'Excluir', customer, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="panel-body">
        <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
  <%= link_to 'Novo Cliente', new_customer_path, :class => "btn btn-success btn-lg active" %>
</div>