  <%= form_for(@pedido) do |f| %>
    <% if @pedido.errors.any? %>
    <div id="error_explanation">
    Há erros no formulário, por favor verifique.
    </div>
    <% end %>

  <div class="panel panel-default">
  <div class="panel-heading">Pedido</div>
  <div class="panel-body">
   
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Fornecedor</label>
          <%= f.collection_select :fornecedor_id, Fornecedor.all, :id, :empresa, {prompt: "Selecione um Fornecedor"}, {class: "form-control"}  %>
          <%= error_tag @pedido, :fornecedor %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Data</label>
          <%= f.text_field :data, :class => "datepicker" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Pedido</label>
          <%= f.text_field :pedido, :class => "form-control", :placeholder => "Pedido" %>
          <%= error_tag @pedido, :pedido %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label>Observações</label>
          <%= f.text_area :observacoes, :class => "form-control", :placeholder => "Observações" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Email</label>
          <%= f.text_field :email, :class => "form-control", :placeholder => "exemplo@exemplo.com" %>
          <%= error_tag @pedido, :email %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= f.submit 'Enviar', :class => "btn btn-success btn-lg" %>
  </div>
</div>
<% end %>
